<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>OAuth 2.0 - Consent to Authorize</title>
  <link rel="stylesheet" type="text/css" href="/css/user-consent.css" />
</head>

<body>

  <form action="validate" method="post">
<div class="relative  min-h-screen flex justify-center items-center overflow-hidden bg-gray-50 px-5">
  <div class="flex justify-center flex-col items-center max-w-[650px] bg-white pb-10">
    <div class="mb-10 pt-10 mt-10">
    <h1 class="text-center text-xl">Hi <strong> <%= user_name %>,</strong></h1>
    </div>
    <div class="px-6 lg:px-32">
    <div class="flex justify-between">
      <div class="h-20 w-20 md:h-32 md:w-32 rounded-full border border-blue-200">
        <% if (user_photo) { %>
          <img src="<%= user_photo %>" alt="profile_picture" class="w-full h-auto">
        <% } %>
      </div>
      <div class="h-12 w-12 border self-center"></div>
      <div class="h-20 w-20 md:h-32 md:w-32 rounded-full border border-blue-200">

      </div>
    </div>
    <div class="mt-5">

      <p class="text-center"> <%= project_name %> would like to access the following information:</p>
    </div>
    <div class="mt-5 rounded-lg border border-black p-5">
      <ul class="flex flex-col gap-y-3 px-5">
        <li class="list-disc">Profile photo: Read only</li>
        <li class="list-disc">Full name: Read only</li>
        <li class="list-disc">Email address: Read only</li>
      </ul>
    </div>
    <div class="mt-5 flex justify-between px-auto">
      <button class="py-2 px-6 md:py-3 md:px-12 border rounded-lg">Decline</button>
      <button class="py-2 px-6 md:py-3 md:px-12 border rounded-lg bg-blue-600 text-white">
        <input type="hidden" name="authorize" value="true">
        Accept</button>
    </div>
  </div>
</div>
  </div>
  
  



</div>

  </form>


</body>

</html>